#!/usr/bin/make -f

DEB_DH_INSTALLINIT_ARGS = --upstart-only

SHELL := sh -e

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh ${@} --with autotools_dev

override_dh_auto_clean:
	dh_auto_clean

	for _FILE in debian/*.install.in; \
	do \
		rm -f debian/$$(basename $${_FILE} .in); \
		sed -e 's|@DEB_HOST_MULTIARCH@|$(DEB_HOST_MULTIARCH)|g' \
		$${_FILE} > debian/$$(basename $${_FILE} .in); \
	done

	for _FILE in debian/apparmor/*.in; \
	do \
		rm -f debian/apparmor/$$(basename $${_FILE} .in); \
		sed -e 's|@DEB_HOST_MULTIARCH@|$(DEB_HOST_MULTIARCH)|g' \
		$${_FILE} > debian/apparmor/$$(basename $${_FILE} .in); \
	done

override_dh_auto_configure:
	dh_auto_configure -- --libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH)/lxc --libexecdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH) --with-rootfs-path=\$${prefix}/lib/$(DEB_HOST_MULTIARCH)/lxc --enable-doc

override_dh_auto_install:
	dh_auto_install

	# creating lxc directories
	mkdir -p debian/tmp/etc/lxc/auto
	mkdir -p debian/tmp/etc/lxc/debconf
	mkdir -p debian/tmp/usr/share/lxc/cache
	mkdir -p debian/tmp/usr/share/lxc/packages
	mkdir -p debian/tmp/var/log/lxc

	# removing useless files
	rm -f debian/tmp/usr/share/lxc/templates/lxc-lenny

override_dh_builddeb:
	dh_builddeb -- -Zgzip -z9

override_dh_compress:
	dh_compress -X.cfg

override_dh_gencontrol:
ifeq ($(DEB_HOST_MULTIARCH),)
	dh_gencontrol
else
	dh_gencontrol -- -Vmultiarch:Pre-Depends="multiarch-support"
endif

override_dh_install:
	# copy apparmor profiles
	mkdir -p debian/lxc/etc/apparmor.d/lxc
	mkdir -p debian/lxc/etc/apparmor.d/abstractions/lxc
	cp debian/apparmor/usr.bin.lxc-start debian/lxc/etc/apparmor.d/usr.bin.lxc-start
	cp debian/apparmor/lxc-containers debian/lxc/etc/apparmor.d/lxc-containers
	cp debian/apparmor/lxc-default debian/lxc/etc/apparmor.d/lxc/lxc-default
	cp debian/apparmor/lxc-default-with-nesting debian/lxc/etc/apparmor.d/lxc/lxc-default-with-nesting
	cp debian/apparmor/abstractions-lxc-container-base debian/lxc/etc/apparmor.d/abstractions/lxc/container-base
	cp debian/apparmor/abstractions-lxc-start-container debian/lxc/etc/apparmor.d/abstractions/lxc/start-container
	if [ -x /usr/bin/dh_apparmor ]; then \
		dh_apparmor -p lxc --profile-name=usr.bin.lxc-start; \
	fi
	# copy apport hook
	mkdir -p debian/lxc/usr/share/apport/package-hooks
	cp debian/lxc.apport debian/lxc/usr/share/apport/package-hooks/source_lxc.py
	# copy example hooks
	mkdir -p debian/lxc/usr/share/lxc
	cp -r debian/hooks debian/lxc/usr/share/lxc/
	chmod ugo+x debian/lxc/usr/share/lxc/hooks/*

	# copy dnsmasq configuration
	mkdir -p debian/lxc/etc/dnsmasq.d
	cp debian/lxc.dnsmasq debian/lxc/etc/dnsmasq.d/lxc

	dh_install --fail-missing

	# replace upstream lxc-wait which can only run one-at-a-time
	cp -f debian/local/lxc-wait debian/lxc/usr/bin/

override_dh_installinit:
	dh_installinit --no-restart-on-upgrade --name=lxc
	dh_installinit --no-restart-on-upgrade --name=lxc-net

override_dh_strip:
	dh_strip --dbg-package=lxc-dbg
